.filter {
  display: flex;

  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: $laptop) {
    gap: 9px;
    margin-bottom: 50px;
  }
  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 00.03em;
    padding: 6px 22px;
    border: hidden;
    border-radius: 4px;
  }
}
