
  .team {
    &__card {
      background: var(--color-text);
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &__details {
      display: flex;
      flex-direction: column;
      padding-block: 30px;
      gap: 10px;
    }
    &__name {
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 00.03em;
    }
    &__profession {
      line-height: 1.2;
      text-align: center;
      letter-spacing: 00.03em;
      color: var(--background-color-three);
      padding-bottom: 16px;
    }
  }
 