.what-doing {
  &__item {
    position: relative;
  }
  &__image {
    display: block;
  }
  &__tittle {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;

    color: #ffffff;
    font-style: 700px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    background-image: linear-gradient(#2f303acc, #2f303acc);
    padding: 27px 90px;
  }
}
