.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255);
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
 
  @media screen and (max-width: 1199px) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
    
  }
  @media screen and (min-width: $laptop) {
    width: 528px;
    height: 581px;
  }

  &__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  &__button {
    padding: 10px 76px;
    width: 200px;
    height: 50px;
  }
}

.form-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
  &__head {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 28px;
    @media screen and (max-width: 479px) {
      width: 100%;
    
    }
    @media screen and (min-width: $laptop) {
      line-height: 1.1;
    }
  }
  &__fieldset {
    border: 0;
  }
  &__item {
   
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    padding-block: 12px;
    margin-bottom: 34px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 479px) {
      width: 100%;
    
    }
    @media screen and (min-width: $laptop) {
      width: 448px;
    }
  }
  &__item:has(input:focus) {
    border-color: rgba(33, 150, 243, 1);
  }
  &__item:has(input:focus) &__icon {
    fill: rgba(33, 150, 243, 1);
  }
  &__label {
    position: absolute;
    top: -24px;
    left: 0;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;

    color: #757575;
  }
  &__icon {
    width: 18px;
    height: 18px;
    margin-inline: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input {
    border: 0;
    background-color: transparent;
    font-size: 12px;
    width: 100%;
    height: 100%;
    &:focus {
      outline: 0;
    }
  }
  &__item__comment {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 20px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $laptop) {
      width: 448px;
    }
  }
  &__item__comment &__input {
    width: 100%;
    height: 100%;
    resize: none;
  }
  &__item__comment:has(&__input:focus) {
    border-color: rgba(33, 150, 243, 1);
  }
}

.checkbox-accept {
  
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    font-size: 12px;
    line-height: 1.2;
    position: relative;

    letter-spacing: 0.03em;

    color: #757575;
   
    @media screen and (min-width: $laptop) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 1.7;
    }
  }
  & &__checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    margin-right: 7px;
    cursor: pointer;
    
  }
  &__link {
    text-decoration: underline;
    color: rgba(33, 150, 243, 1);
    margin-inline: 4px;
  }
  &__icon {
    position: absolute;
    left: -16px;
    width: 16px;
    height: 15px;
    border: 1px solid black;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  }
  &__icon-bird {
    display: none;
    width: 11px;
    height: 8px;
    position: absolute;
    left: -14px;
    
  }
  &__label input:checked ~ &__icon {
    background-color: rgba(33, 150, 243, 1);
    border-color: rgba(33, 150, 243, 1);
  }
  &__label input:checked ~ &__icon-bird {
    display: inline-block;
  }
}
