.adress {
    margin-top: 20px;
    &__item {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
    &__link {
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 00.03em;
      color: #ffffff99;
      &__place {
        color: var(--color-text);
      }
    }
    
  }

  