:root {
   --color-text: #ffffff;
    --background-color: #2f303a;
    --background-color-two: #f5f4fa;
    --background-color-three: #757575;
    --one-color-logo: #2196f3;
    --two-color-logo: #000000;
    
    
  }
  
  $tablet: 768px;
  $laptop:1200px;